body {
    display: flex;
    flex-flow: column nowrap;

    height: 100vh;

    background: #060869;
    background: linear-gradient(0deg,rgba(6, 8, 105, 1) 0%, rgba(3, 5, 60, 1) 35%, rgba(0, 0, 0, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#top-layer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 10px;

    display: flex;
    flex-flow: row nowrap;

    height: 70%;
}

#time-period-board, #selected-time-period-display, #player-list-display {
    height: 100%;

    width: 30%;
    margin-left: auto;
    margin-right: auto;

    border: 4px solid black;
    border-radius: 20px;
}

#time-period-board {
    display: flex;
    flex-flow: row nowrap;

    width: 35%;
    min-width: 500px;
    margin-left: 0px;

    padding: 2px;

    border-radius: 10px;
}

#selected-time-period-display {
    min-width: 400px;
}

#player-list-display {
    min-width: 200px;
}

.time-period-board-column {
    display: flex;
    flex-flow: column nowrap;
}

#age-numbers {
    width: 5%;
    margin-right: 12px;

    font-size: 2vh;
}

#top-space, .planet-header {
    height: 5%;
}

#age-number, .planet-header, .time-period-space * {
    white-space: nowrap;
    font-size: 1.4vh;
}

.planet-header p, .time-period-number p, .time-period-box p {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.time-period-number, #top-space {
    width: 100%;
}

.time-period-space, .time-period-number, .planet-header, #top-space {
    margin: 1px;
    padding: 2px;
    border: 3px solid black;

    border-radius: 5px;
}

.time-period-space:hover {
    border: 3px solid rgba(235, 136, 55, 0.993);
}

.time-period-owner-flap {
    width: 69%;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid black;

    p {
        margin-top: 5px;
        font-size: 1.1vh;
    }
}

.time-period-war-flap {
    width: 29%;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid black;

    p {
        margin-top: 4px;
        font-size: 1.3vh;
    }
}

#selected-time-period-display {
    width: 30%;

    display: flex;
    flex-flow: column nowrap;
}

#selected-time-period-display-scrolling {
    border-radius: 20px;
    
    h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

#planet-line, #age-line, #owner-line, #power-line, #resources-line, #resource-production-line {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;

    padding: 5px;
}

#object-section-selector-section {
    display: flex;
    flex-flow: row wrap;

    width: 90%;
    margin-left: auto;
    margin-right: auto;

    button {
        width: 20%;
        margin-left: auto;
        margin-right: auto;

        margin-bottom: -5px;

        border: 3px solid #4d4d4d;
        border-bottom: 0px;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    button:hover {
        border-color: rgba(235, 136, 55, 0.993);
    }
}

.object-section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 5px;
    padding-bottom: 10px;

    display: flex;
    flex-flow: column nowrap;

    border-radius: 20px;

    h3 {
        margin-top: 0px;
        margin-bottom: 5px;
    }
}

#time-period-control-section {
    display: none;
}

.list-box {
    width: 96.5%;
    margin-left: auto;
    margin-right: auto;
    
    border: 3px solid #4d4d4d;
    border-top: 0px;

    border-radius: 10px;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    padding: 5px;
}

#time-period-control-list-box {
    display: flex;
    flex-flow: column nowrap;

    button {
        background-color: white;

        width: 70%;
        aspect-ratio: 10/1;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;

        border: 2px solid rgb(107, 107, 107);
        border-radius: 10px;
    }

    button:hover {
        border-color: rgba(235, 136, 55, 0.993);
    }
}

#player-list-display {
    width: 25%;
    margin-right: 0px;

    min-width: 250px;

    display: flex;
    flex-flow: column nowrap;

    h1 {
        margin-left: 2.5%;
        margin-bottom: 5px;
    }
}

#player-list-box {
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    height: 700px;

    border-radius: 20px;
}

.player-card {
    border: 3px solid black;

    width: 95%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 5px;
    margin-bottom: 5px;

    border-radius: 20px;

    * {
        margin: 5px;
    }

    .player-list-troop-list-spot {
        border-radius: 15px;
        padding: 1px;
        padding-left: 5px;

        * {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}

#player-info {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-width: 700px;

    margin-top: 20px;

    border: 3px solid black;
    border-radius: 25px;

    display: flex;
    flex-flow: row wrap;

    height: 20%;
    min-height: 150px;
}

.player-info-item {
    width: fit-content;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 10px;
}

#control-buttons {
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    flex-flow: column nowrap;
}

.control-button {
    aspect-ratio: 6/1;
    height: 20%;
    margin-top: auto;
    margin-bottom: auto;

    border: 2px solid black;
    border-radius: 10px;

    background-color: white;
}

.control-button:hover {
    border-color: rgba(235, 136, 55, 0.993);
}

#middle-section {
    display: flex;
    flex-flow: column nowrap;
}

#troop-list-spot {
    padding: 1px;
    padding-left: 5px;
    border-radius: 10px;
}

.player-info-text-item {
    margin-top: auto;
    margin-bottom: auto;
}

#trading-window {
    border: 3px solid black;
    border-radius: 20px;

    display: flex;
    flex-flow: column nowrap;

    width: 90%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 20px;

    input {
        margin-left: 10px;
        width: 15%;

        border: 1px solid rgb(107, 107, 107);
        border-radius: 5px;
    }

    button {
        border: 2px solid black;
        border-radius: 10px;
    }

    button:hover {
        background-color: rgba(87, 216, 246, 0.57);
    }
}

#trade-window-title {
    width: 135px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 0px;
}

#trade-window-body {
    display: flex;
    flex-flow: row wrap;
}

.trader {
    width: 40%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 0px;
    margin-bottom: 10px;

    display: flex;
    flex-flow: column nowrap;
}

.resource-trade-card {
    display: flex;
    flex-flow: row wrap;

    h4 {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

#trading-window-buttons {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-flow: row wrap;

    button {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;

        margin-bottom: 10px;
    }
}

#building-window {
    border: 3px solid black;
    border-radius: 20px;

    background-color: white;

    display: flex;
    flex-flow: column nowrap;

    width: 50%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 20px;

    button {
        width: 50%;
        aspect-ratio: 6/1;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;

        border: 2px solid rgb(107, 107, 107);
        border-radius: 15px;
    }

    button:hover {
        background-color: rgba(87, 216, 246, 0.57);
    }
}

#login-window {
    border: 4px solid black;

    display: none;
    flex-flow: column nowrap;

    margin-top: 10%;

    width: 20%;
    margin-left: auto;
    margin-right: auto;

    min-width: 300px;

    border-radius: 25px;

    * {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        width: 30%;
        margin-left: auto;
        margin-right: auto;

        margin-bottom: 0px;
    }

    .input-line {
        display: flex;
        flex-flow: row wrap;

        margin-top: 5px;

        h2 {
            margin-bottom: 10px;

            width: 35%;
            margin-left: auto;
            margin-right: auto;
        }

        input {
            border: 2px solid black;
            border-radius: 15px;

            padding-left: 10px;
            padding-right: 10px;

            width: 55%;
            margin-left: auto;
            margin-right: auto;

            height: 50%;
            max-height: 20px;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    button {
        background-color: white;
        
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        
        aspect-ratio: 7 / 1;

        margin-top: 10px;
        margin-bottom: 10px;

        border: 2px solid black;
        border-radius: 25px;

        h3 {
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    button:hover {
        background-color: rgba(87, 216, 246, 0.57);
    }
}

#login-failed-message {
    display: "none";

    border: 0px;
    border-radius: 10px;

    margin-top: 5px;

    padding: 0px;
}