body {
    display: flex;
    flex-flow: column nowrap;
}

#top-layer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-flow: row wrap;
}

#selected-time-period-display {
    width: 33%;
    min-width: 450px;
    max-width: 550px;

    margin-left: 30px;
    margin-right: 30px;

    display: flex;
    flex-flow: column nowrap;
}

#planet-line, #age-line, #owner-line, #power-line, #resources-line, #resource-production-line {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;

    padding: 5px;
}

#building-section, #troop-section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 5px;
    padding-bottom: 10px;

    display: flex;
    flex-flow: column nowrap;
}

#building-section h3, #troop-section h3 {
    margin-top: 0px;
    margin-bottom: 5px;
}

#building-list-box, #troop-list-box {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#player-list-display {
    width: 33%;
    min-width: 450px;
    max-width: 550px;

    display: flex;
    flex-flow: column nowrap;
}

#player-list-display h1 {
    margin-left: 2.5%;
    margin-bottom: 5px;
}

#player-list-box {
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    height: 700px;
}

.player-card {
    border: 2px black;
}

#player-info {
    width: 98%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 20px;

    display: flex;
    flex-flow: row wrap;
}

#location-spot, #resource-spot, #troop-spot {
    width: 20%;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 10px;
}